
.special-gothic-expanded-one-regular {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.comfortaa-uniquifier {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.nav {
  height: 56px;
}



.radius-24{
  border-radius: 24px;
  border: 1px;
}
.bg-ffffff {
  background-color: #ffffff;
}
.bg-D1FADF {
  background-color: #D1FADF;
}

.textColor-039855 {
  color: #039855;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex-shrink: 0;
}

.custom-icon { 
  min-width: 30px; 
  transition: 0.3s;
}

.containerMenu {
  position: fixed;
  bottom: 0; /* Üstə yapışdırmaq üçün */
  left: 0; /* Sol kənara yapışdırmaq üçün */
  width: 100%; /* Tam eni kaplaması üçün */
  height: 56px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Elementləri şaquli mərkəzləşdirmək üçün */
  padding: 0 20px; /* İç boşluq əlavə etdim */
  background: white; /* Arxa fon rəngi */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Kölgə effekti */
  z-index: 1000; /* Digər elementlərin üstündə olması üçün */
}
.menuButtonchart {
  background-color: #1A4D2E;
  border-radius: 10px;
}
  @media (max-width: 768px) {
    
    .col-4 h4 {
        font-size: small;
    }
    .col-4 p {
      font-size: small;
    }
   
    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .custom-icon {
      min-width: 24px; 
      min-height: 24px;
      width: auto;
      height: auto;
    }
    .text-size {
      font-size: small;
    }
  
 
    

    
  }

  @media (max-width: 402px) {
    
    .col-4 h4 {
      font-size: x-small;
  }
  .col-4 p {
    font-size: x-small;
  }

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .custom-icon {
    min-width: 20px;
    min-height: 20px;
  }

  .text-size {
    font-size: x-small;
  }


  }