*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav1 {
    position: fixed;
    top: 0; /* Üstə yapışdırmaq üçün */
    left: 0; /* Sol kənara yapışdırmaq üçün */
    width: 100%; /* Tam eni kaplaması üçün */
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Elementləri şaquli mərkəzləşdirmək üçün */
    padding: 0 20px; /* İç boşluq əlavə etdim */
    /* background: white; Arxa fon rəngi */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Kölgə effekti */
    z-index: 1000; /* Digər elementlərin üstündə olması üçün */
}


.containerMain {
   max-width: 351px;
   margin: 0 auto;
   
}

.reelsDiv {
    position: relative;
    overflow: hidden;
}

.reelsImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuButtonchart {
    background-color: #1A4D2E;
    border-radius: 10px;
  }
.containerMenu {
    position: fixed;
    bottom: 0; 
    left: 0; 
    width: 100%; /* Tam eni kaplaması üçün */
    height: 56px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Elementləri şaquli mərkəzləşdirmək üçün */
    padding: 0 20px; /* İç boşluq əlavə etdim */
    background: white; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    z-index: 1000;
}

.profileContainer {
    position: absolute;
    left: 10px;
    bottom: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgba(234, 234, 234, 0); /* Azca şəffaf fon */
    padding: 6px 10px;
    border-radius: 20px;
    z-index: 3; /* Ən üstdə olacaq! */
  }
  
.profileContainer img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
.profileContainer span {
    color: white;
    font-size: 14px;
  }


  
.iconContainer {
    position: absolute;
    right: 10px; /* sağdan məsafə */
    bottom: 5px; /* aşağıdan məsafə */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; /* iconlar arası boşluq */
    width: 30px;
    height: 212px;
}
.iconBtn {
    width: 28px;
    height: 28px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .iconBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}
  
  /* Seçiləndə */
  .iconBtn.active img.iconImg {
    filter: brightness(0) saturate(100%) invert(44%) sepia(90%) saturate(2000%) hue-rotate(80deg) brightness(95%) contrast(90%);
  }

